{{!-- Info modal --}}
<div class="modal fade info-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h3 id="modal-title"></h3>
            </div>
            <div class="modal-body text-center">
                <p id="modal-desc"></p>
                <div class="modal-img"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
         </div>
    </div>
</div>

{{!-- Project Image Modal --}}
<div class="modal project-img-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="glyphicon glyphicon-remove" id="modal-close-btn" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true"></span>
                <div class="project-img"></div>
            </div>
         </div>
    </div>
</div>

<ul id="menu">
    <li data-menuanchor="Home"><a href="#Home">home</a></li>
    <li data-menuanchor="Profile"><a href="#Profile">profile</a></li>
    <li data-menuanchor="Projects"><a href="#Projects">projects</a></li>
    <li data-menuanchor="Resume"><a href="#Resume">resume</a></li>
    <li data-menuanchor="Contact"><a href="#Contact">contact</a></li>
</ul>

<div id="fullpage">
    <div class="section active" id="section0">
        <div class="intro main-section text-center">
            <h1>Matthew Holland</h1>
            <p>Software Engineer</p>
        </div>
    </div>

    <div class="section" id="section1">
        <div class="intro about-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>About Me</h1>
                        <br>
                    </div>

                    <div class="col-lg-4">
                        <img src="img/profile.jpg" alt="Profile Picture" height="360" width="auto" />
                    </div>

                    <div class="col-lg-8">
                        <div class="col-lg-12">
                            <p>Full stack JavaScript and PHP developer, best described as a curious and enthusiastic humanoid.  I love developing applications from the ground-up, and discovering ways to implement new technologies and use them to improve existing applications. I have sufficient experience in both front-end and back-end development.</p>
                        </div>
                        <div class="col-lg-12">
                            <p>Primarily self-taught, I built several custom web applications as the lead developer for a small automotive consulting business in Little Rock, Arkansas for three years. I chose to follow the tech scene, and moved to Austin, TX, where I currently work with a team of developers at Sumo.com to help people grow their small business with smart tools. </p>
                        </div>
                        <div class="col-lg-12">
                            <p>Please contact me if you would like to collaborate, or if you have any questions about web development in general.  It is in the spirit of our profession that we share our ideas and passions. Please check out the <a href="#Projects" id="projects-link" class="projects-link"> projects page </a> to view samples of my work, and visit my coding blog at <a href="https://medium.com/mtholla" class="projects-link">medium.com/mtholla</a>.</p>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <hr>
                        <ul>
                            <li>
                                <a href="mailto:mtholland10@gmail.com" target="_top"><i class="fa fa-envelope-open"></i> mtholland10@gmail.com</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/matt-holland" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> www.linkedin.com/in/matt-holland</a>
                            </li>
                            <li>
                                <a href="https://github.com/trooperandz" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> github.com/trooperandz</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section projects-section" id="section2">
        <div class="intro projects-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        {{!-- Only shown on small screens --}}
                        <div id="projects-section-heading">
                            <h1>Projects</h1>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="intro text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Client Reporting</h2>
                            <img class="project-img-main" src="img/onlinereporting.png" alt="Client Reporting Site" />
                            <p>This single-page application was built for a small consulting business which specializes in...<span class="project-desc-span" data-title="Client Reporting Site" data-desc="This single-page application was built for a small consulting business which specializes in automotive consulting.  It features user login, session data delegating special user access rules, document uploading and retrieval, dynamic data tables, data exports and printer-friendly formats.  Data is stored in a MySQL database, and all server-side code is written in PHP (LAMP stack).  It is currently being used by automotive service centers across the United States to report automotive data." data-imageSrc="onlineReporting">more</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="intro text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>News Scraper</h2>
                            <a href="http://scraper.mtholla.com" class="project-link" target="_blank">View Site &raquo;</a>
                        </div>
                        <div class="col-lg-12">
                            <img class="project-img-main" src="img/scrapinator.png" alt="Scrapinator Site" />
                            <p>Bringing the latest science news to you, this NodeJS app utilizes...<span class="project-desc-span" data-title="Scrapinator" data-desc="Bringing the latest science news to you, this NodeJS app utilizes the node Request module to scrape the most recent science news from foxnews.com.  Scraped data is saved in a MongoDB database, and features session data and user login functionality.  Logged in users may save their favorite news stories (coming soon) and also submit comments to any story." data-imageSrc="scrapinator">more</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="intro text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>React News API</h2>
                            <img class="project-img-main" src="img/reactnews.png" alt="React News Site" />
                            <p>Access the NY Times API by news category or headline search, via a ReactJS-powered...<span class="project-desc-span" data-title="React News" data-desc="Access the NY Times API by news category or headline search, via a ReactJS-powered interface.  This single-page NodeJS app allows the user to save favorite articles for later viewing (coming soon), and utilizes a MongoDB database for data storage via the Mongoose ORM (MERN stack)." data-imageSrc="reactNews">more</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="intro text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Repair Survey</h2>
                            <img class="project-img-main" src="img/rosurvey.png" alt="RO Survey Site" />
                            <p>Automotive repair order survey application built for a small consulting business used to...<span class="project-desc-span" data-title="Repair Order Survey System" data-desc="Automotive repair order survey application built for a small consulting business used by contractors to assess the current performance state of dealership service centers.  Features user login, session data for specific user access rules, graphs, dynamic data tables, document storage, AJAX-powered forms and data exports/downloads.  All server-side code is written in PHP, and data is stored in a MySQL database (LAMP stack)." data-imageSrc="roSurvey">more</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="intro text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Profit Calculator</h2>
                            <a href="http://profit.mtholla.com" class="project-link" target="_blank">View Site &raquo;</a>
                        </div>
                        <div class="col-lg-12">
                            <img class="project-img-main" src="img/profitcalculator.png" alt="Profitability Calculator Site" />
                            <p>Profitability calculator built for a small automotive consulting business, for...<span class="project-desc-span" data-title="Profitability calculator" data-desc="Profitability calculator built for a small automotive consulting business, for projecting service center profit potential based on level one automotive services.  Features user login, session data for specific user access rules, dynamic AJAX-powered data entry tables, document storage and data exports/downloads.  All server-side code is written in PHP, and data is stored in a MySQL database (LAMP stack)." data-imageSrc="profitCalculator">more</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="intro text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Taskinator</h2>
                            <a href="http://taskinator.mtholla.com" class="project-link" target="_blank">View Site &raquo;</a>
                        </div>
                        <div class="col-lg-12">
                            <img class="project-img-main" src="img/taskinator-table.png" alt="Taskinator Site" />
                            <p>Taskinator is a personal organizer application built with NodeJS...<span class="project-desc-span" data-title="Taskinator" data-desc="Taskinator is a personal organizer application built with NodeJS, which utilizes the MVC design pattern for its directory structure.  The program features dynamic data tables (via the DataTables plugin), page tabs, AJAX-powered forms, user signup and login, and session data.  Data is stored in a MySQL database, which is managed by the Sequelize ORM." data-imageSrc="taskinator">more</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="intro text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Hangman</h2>
                            <a href="http://hangman.mtholla.com" class="project-link" target="_blank">Play It &raquo;</a>
                        </div>
                        <div class="col-lg-12">
                            <img class="project-img-main" src="img/hangman.png" alt="Hangman Game" />
                            <p>This JavaScript game will have you wanting to play hangman all the time...<span class="project-desc-span" data-title="Hangman" data-desc="This JavaScript game will have you wanting to play hangman all the time!  Brush up on your knowledge of Roman emperors while listening to calming background music.  The game is fully responsive and features a timer, win & loss counts, responsive full-screen background images and alert modals." data-imageSrc="hangman">more</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section3">
        <div class="intro resume-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        {{!-- Only shown on small screens --}}
                        <div id="resume-section-heading">
                            <h1>Resume</h1>
                        </div>
                        <div>
                            <a href="/resume"><i class="fa fa-download" data-toggle="tooltip" data-placement="left" title="Download" aria-hidden="true"></i></a>
                            <img id="resume-img" src="img/resume.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section4">
        <div class="intro contact-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Contact Me</h1>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <form class="text-left" method="POST" action="/portfolio/contact">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="contact-name" name="contact-name" />
                                <label for="name">Email</label>
                                <input type="text" class="form-control" id="contact-email" name="contact-email" />
                                <label for="contact-message" id="contact-label">Message</label>
                                <textarea class="form-control" id="contact-message" name="contact-message" placeholder="Would you like to connect? Please drop me a line."></textarea>
                                <button id="contact-btn" type="submit" class="btn">Contact</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {{!-- /.fullpage --}}

<footer>
    <a href="mailto:mtholland10@gmail.com" target="_top"><i class="fa fa-envelope-open" data-toggle="tooltip" data-placement="left" title="Email Me"></i></a>
    <a href="https://www.linkedin.com/in/matt-holland" target="_blank"><i class="fa fa-linkedin-square" data-toggle="tooltip" data-placement="top" title="LinkedIn" aria-hidden="true"></i></a>
    <a href="https://github.com/trooperandz" target="_blank"><i class="fa fa-github" data-toggle="tooltip" data-placement="top" title="GitHub" aria-hidden="true"></i></a>
    <a href="/resume"><i class="fa fa-file-text" data-toggle="tooltip" data-placement="top" title="Download Resume" aria-hidden="true"></i></a>
</footer>