<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Matthew Holland" />
    <meta name="description" content="Matthew Holland - Full Stack Web Developer - Portfolio" />
    <meta name="keywords"  content="matthew,holland,developer,web,full stack,portfolio" />
    <meta name="Resource-type" content="Document" />

    <title>Matthew Holland Portfolio</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/vendor/jquery.fullpage.css" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alegreya+SC|Kumar+One|Limelight|Montser   rat+Alternates|Playfair+Display+SC|Poiret+One|Josefin+Sans:100" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/spinner.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/vendor/scrolloverflow.min.js"></script>
    <script type="text/javascript" src="js/vendor/scrolloverflowreset.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.fullpage.js"></script>
    <script src="/js/vendor/notify.min.js"></script>
    <script src="js/scripts.js"></script>

</head>
<body>
    <!-- Spinner container -->
    <div class="spinner-div"></div>

    {{{body}}}

</body>
</html>