<ul id="menu">
    <li data-menuanchor="Page1" class="active">
        <a href="#Page1">Home</a>
    </li>
    <li data-menuanchor="Page2">
        <a href="#Page2">About Me</a>
    </li>
    <li data-menuanchor="Page3">
        <a href="#Page3">Projects</a>
    </li>
    <li data-menuanchor="Page4">
        <a href="#Page4">Contact Me</a>
    </li>
</ul>

<div id="fullpage">
    <div class="section text-center" data-anchor="Page1">
        <h1>Matthew Holland</h1>
        <p>Full Stack Developer</p>
    </div>

    <div class="section text-center" data-anchor="Page2">
        <h1>About Me</h1>
        <p>Enthusiastic, curious humanoid...</p>
    </div>

    <div class="section text-center" data-anchor="Page3">
        <div class="slide">
            Slide 1
        </div>
        <div class="slide">
            Slide 2
        </div>
        {{!--
        <h1>Projects</h1>
        <p>Check out some of my creations...</p>

        <div class="slide">
            <div class="intro">
                <h1>Projects</h1>
                <p>Check out these awesome projects...</p>
            </div>
        </div>

        <div class="slide">
            <div class="intro">
                <h1>Hangman!</h1>
            </div>
        </div>

        <div class="slide">
            <div class="intro">
                <h1>Star Wars!</h1>
            </div>
        </div>

        <div class="slide">
            <div class="intro">
                <h1>Trivia!</h1>
            </div>
        </div>

        <div class="slide">
            <div class="intro">
                <h1>GifTastic</h1>
            </div>
        </div>

        <div class="slide">
            <div class="intro">
                <h1>Scrapinator</h1>
            </div>
        </div>
        --}}
    </div>

    <div class="section text-center" data-anchor="Page4">
        <h1>Contact Me</h1>
        <p>Want my digits?</p>
    </div>
</div>
