/* Note: original colors:
    Home:
        bg: #2b3e50;
        h1: #4aa;
        p: #708090;
    About:
        bg: #647381;
        h1: #ccba8f;
        p: #eba184;
        links: #d3d3d3;
    Projects:
        bg: #008b8b;
        h1: #cdc8b1;
        description: #ebebeb;
        more link: #df691a;
    Resume:
        bg: #385972;
    Contact:
        bg: #008b8b;
        h1: #ded6b4;
        label: ghostwhite;
        input border: border-bottom: 1px solid #24446e;
                      border-left: 1px solid #24446e;
                      border-right: 1px solid #24446e;
        btn: #24446e;
*/
body {
  padding: 50px;
  font-family: 'Poiret One', cursive;
  /* check out Josephine */
}

.text-center {
    text-align: center;
}

a {
    color: #ccc;
    text-decoration: none;
    transition: .4s;
}

a:hover, a:focus {
    outline: none;
    outline-offset: none;
    text-decoration: none;
    color: ghostwhite;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

#menu {
    z-index:70;
    position:fixed
}

#menu li {
    display:inline-block;
    margin:10px;
    color:#000;
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 1.3em;
    letter-spacing: 2.5px;
}

#menu li a {
    color: ghostwhite;
    transition: .4s;
}

#menu li a:hover {
    color: #7EA0B7;
}

#menu li.active {
    background:#666;
    background:rgba(208, 208, 208, .5);
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.14),0 1px 15px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

#menu li.active a {
    color: whitesmoke;
    /*font-weight: bold;*/
    text-decoration: none;
}

#menu li a, #menu li.active a {
    padding:9px 18px;
    display:block;
}

#menu {
    padding:0;
}

div#resume-link {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    padding: 9px 18px;
    font-size: 1.3em;
    margin: 10px;
}

div#resume-link a {
    color: #d3d3d3;
    font-weight: bold;
    transition: .4s;
}

div#resume-link a:hover {
    color: white;
}

div#resume-link a:visited {
    text-decoration: none;
}

img {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

/* Style the right nav menu dots background */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #b2b2b2;
}

.intro p {
    /* Override original 50% */
    width: 100%;
    margin: 0 auto;
    font-size: 1.5em;
}

.slide hr {
    width: 83%;
    border-top: 1px solid #ccc;
}

.info-modal img {
    width: 30%;
    height: auto;
    margin: 0 8px;
    cursor: zoom-in;
}

.project-img-modal img {
    width: 100%;
}

.project-img-modal .modal-body {
    padding: 0;
}

/*Image close button*/
#modal-close-btn {
    /*opacity: 0.5;*/
    color: #000;
    z-index: 1;
    float: right;
    position: absolute;
    cursor: pointer;
    right: 1px;
    top: 5px;
    color: gray;
    font-size: 20px;
}

/* 'more...' link under project image */
.project-desc-span {
    color: #df691a;
    cursor: pointer;
}

.main-section h1 {
    color: #4aa;
    /*color: #00B7FF;*/
}

.main-section p {
    color: #708090;
}

.about-section h1 {
    color: #ccba8f;
}

.about-section p {
    color: #eba184;
    font-weight: bold;
    text-align: left;
    font-size: 1.3em;
    margin-bottom: 14px;
}

#projects-link {
    color: #ccba8f;
}

#projects-link:hover {
    cursor: pointer;
    color: #ccc;
}

.about-section img {
    border-radius: 2px;
    margin-top: 28px;
}

.about-section p {
    color: #c3cdd4;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.45em;
}

.about-section hr {
    margin-bottom: 12px;
}

.about-section ul li {
    display: inline-flex;
    padding: 14px 1.5%;
    color: ghostwhite;
}

.about-section ul li a {
    font-size: 13px;
    transition: .4s;
    line-height: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-style: normal;
    color: #dbceb0;
}

.about-section ul li a:hover, .about-section ul li a:visited {
    color: #dbceb0;
    cursor: pointer;
}

.about-section i {
    font-size: 20px;
}

.projects-section h1 {
    color: #cdc8b1;
}

.projects-section img {
    margin: 10px 0;
    border-radius: 2px;
    width: 90%;
    height: auto;
}

.projects-section hr {
    border-top: 1px solid #cdc8b1;
}

/* Resume download icon */
.fa-download {
    position: absolute;
    top: 7.8%;
    right: 15%;
    z-index: 3;
    transition: .4s;
}

.fa-download:hover {
    cursor: pointer;
    color: #ccc;
}

.resume-section img {
    position: relative;
    width: 75%;
    height: auto;
    margin: 7.5% 0;
    -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,0.14),0 1px 15px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.14),0 1px 15px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.contact-section h1 {
    color: #ded6b4;
}

.contact-section button {
    background-color: #7EA0B7;
    transition: .4s;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.14),0 1px 15px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.contact-section button:hover, .contact-section button:visited, .contact-section button:active  {
    background-color: #7190a4;
}

form label {
    font-size: 18px;
    color: ghostwhite;
}

input.form-control {
    height: 25px;
    margin-bottom: 20px;
    background: none;
    border-bottom: 1px solid #7EA0B7;
    color: #ded6b4;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1.5em;
}

input.form-control:focus {
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

#contact-label {
    margin-bottom: 15px;
}

textarea.form-control {
    height: 200px;
    margin-bottom: 17px;
    background: none;
    border: 1px solid #7EA0B7;
    color: #ded6b4;
    font-size: 1.5em;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

textarea.form-control:focus {
    border: 1px solid #dbdbdb;
    color: #ded6b4;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

footer a {
    padding: 0px 12px;
    font-size: 23px;
    color: #ccc;
    transition: .4s;
}

footer a:hover {
    cursor: pointer;
    color: #7EA0B7;
}

/* Media queries */
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    #menu {
        /* Hide top menu on small devices */
        display: none;
    }

    .about-section img {
        /* Add margin to profile pic on small devices */
        margin-bottom: 20px;
    }

}

@media (min-width: 768px) {
    #resume-section-heading {
        display: none;
    }
}
